<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--stylesheets-->
    <link rel="stylesheet" href="dist/style.css">
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 
    <!-- fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">    
    <title>Home</title>
</head>
<body>
<div id='app'>

    <header class="mt-2 sm:flex sm:justify-between sm:items-center">
        <div class="flex items-center justify-between px-4 sm:px-0 py-3 md:w-1/3">
                    <div class=" mx-auto sm:ml-8">
                        <img class="h-10" src="img/logo.png" alt="werili">
                    </div>
                    <div class="sm:hidden">
                        <button @click="isOpen = !isOpen" type="button" class="block text-blue">
                            <i v-if="!isOpen" class="fas fa-bars fa-2x"></i>
                            <i v-if="isOpen" class="fas fa-times fa-2x"></i>
                        </button>
                    </div>
        </div>
                            <div :class="isOpen ? 'block' : 'hidden' " class="px-6 py-3 sm:flex sm:items-center sm:mt-4 sm:w-1/3 mx-auto">
                                <div class="mx-auto text-center sm:flex">
                                    <a class="text-wblack pb-2 block font-medium font-rubik" href="">Catégories</a>
                                    <a class="text-wblack mt-1 pb-2 block font-medium font-rubik sm:mt-0 sm:ml-4" href="">Business</a>
                                    <a class="text-wblack mt-1 pb-2 block font-medium font-rubik sm:mt-0 sm:ml-4" href="">About</a>
                                </div>
                            </div>
                                
                        
                                 
                                <div :class="isOpen ? 'block' : 'hidden' " class="py-3 sm:flex sm:items-center sm:mt-2 mx-auto sm:mr-0 sm:w-1/3">
<!--hna relta f iphone 6 paysage view--><button class="sm:mt-0 mt-6 bg-blue rounded-md px-8 py-3 text-white block font-rubik mx-auto sm:mr-8">Compte business</button> 
                                </div>          
    </header>

<div class="container mx-auto mt-16">
  <div class="w-full lg:w-1/2 p-8 mx-auto font-rubik">

    <h1 class="text-3xl text-wblack text-center">Créer un compte</h1>

    <div class="w-full flex flex-wrap sm:justify-around mt-16">

        <a class="w-full sm:w-1/3 mb-4 sm:mb-0" href="">
                <div class="w-full border-2 border-blue p-2 rounded flex items-center">
                    <img src="/img/socialicons/googleC.png" alt="" width="32px">
                    <span class="ml-2 sm:ml-6">Google</span>
                </div>
        </a>
        <a class="w-full sm:w-1/3 mb-4 sm:mb-0" href="">
                    <div class="text-center border-2 border-blue p-2 rounded flex items-center">
                        <img src="/img/socialicons/facebookC.png" alt="" width="32px">
                        <span class="ml-2 text-center">Facebook</span>
                    </div>
        </a>

    </div> <!--Social login-->

    <div class="w-full text-center my-8">
        <span class="mx-auto">OÙ</span>
    </div>

    <div>
        <form action="" class="font-rubik ">
            <div class="flex flex-col mb-4">
                <label class="color-grey">Email</label>
                <input class="outline-none h-12 px-4 border-2 border-blue focus:border-worange rounded" type="email">
            </div>
            <div class="flex flex-col mb-4">
                <label class="color-grey">Nom complet</label>
                <input class="outline-none h-12 px-4 border-2 border-blue focus:border-worange rounded" type="text">
            </div>
            <div class="flex flex-col mb-4">
                <label class="color-grey">Mot de passe</label>
                <input class="outline-none h-12 px-4 border-2 border-blue focus:border-worange rounded" type="password">
            </div>

            <div class="flex flex-col sm:flex-row items-center justify-between mt-16 text-center">
                    <input class="sm:order-2 bg-blue rounded-md px-8 py-3 text-white cursor-pointer" type="submit" value="S'inscrire">
                    <a class="underline sm:order-1 mt-4 sm:mt-0" href="">Déjà inscrit ?</a>
                </div>
        </form>
    </div><!--Input fields-->

  </div>
</div>

</div> <!--END VUEJS-->

<!--VueJS cdn-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/dist/js/vue.js"></script>
</body>
</html>